*{
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    align-content: center;
    background-color: rgba(0,0,0,0.1);
  }
  header.img{
    width: 100px;
  }
.nav-bar {
    list-style: none;
    display: flex;
    flex: auto;
    padding-right: 40px;
  }

  .nav-bar__link {
    text-decoration: none;
    margin-right: 10px;
    color: black;
    font-family: 'Alice', serif;
  }
  
  .nav-bar li{
    padding: 0 20px;
  
  }

#contenedor{
  margin: 10px;
    display: grid;
    grid-template-columns:25% 25% 25% 25%;
    grid-template-rows:auto;
    grid-column-gap:  5px;
    align-items: center;
    align-content: space-between;
    }
    
    div{
       border: 1px silver;
       padding: 10px;
    
    }
    .imagecat{
       width: 250px; height: 200px;
       }
    .logo{
      width: 100px;
    }